<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680218177987-t6id9l89vrn6e1a9sgevj3ktsggbfcjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680218177987-t6id9l89vrn6e1a9sgevj3ktsggbfcjq</string>
	<key>API_KEY</key>
	<string>AIzaSyDGB4bONykQWbaaEetxdIiQeusvK50ox_k</string>
	<key>GCM_SENDER_ID</key>
	<string>680218177987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-c54bb</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-c54bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680218177987:ios:0bbf15d3004fa076134d76</string>
</dict>
</plist>